.btn {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  transition: 0.45s;
  cursor: pointer;
  padding: 10px 29px;
  &:hover {
    background-color: #FFFFFF;
    transition: 0.45s;
    &:active {
      background-color: #cfaf91;
      transition: 0.2s;
    }
  }
}