//history//
h2 {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  margin-left: 139px;
  margin: auto 420px;
  color: #070707;
  text-align: center;
}
.history{   
  width: 1440px;
  height: 618px;
  background: #F6F6F6;
  &__subtitle {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    width: 478px;
    height: 100%;
    border: solid;
    margin: 20px auto;
    padding: 15px;    
  }
  &__text_1  {
    margin-left: 140px;
  }
}
.history-sub-container  {
  padding-top: 76px;
}
.cont_wrapper {
  max-width: 1000px;
  margin-right: auto;
}

.Skills__text {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
}
.Skills__item-img {
  width: 79px;
  height: 90px;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-right: 51px;
}
.slider {
  font-family: "Fira Sans", sans-serif;
  margin: 50px auto;
  &__wrapper {
    height: 465px;
    overflow: hidden;
  }  
  &__inner-wrapper {
    display: flex;
    height: 100%;
  }

  &__slide {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
  }

  &__slide:nth-child(1) {
  background-image: url("static/images/Girl.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }
  &__slide:nth-child(2) {
  background-image: url("static/images/Girl.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }
  &__slide:nth-child(3) {
  background-image: url("static/images/Girl.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }
  &__slide:nth-child(4) {
  background-image: url("static/images/Girl.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }
  &__bottom-panel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  &__dot {
    width: 10px;
    height: 10px;
    border: none;
    padding: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color .4s;
    
    &:not(:last-child) {
      margin-right: 5px;
    }
    
    &_active {
      background-color: #000;
    }
    
    &:not(.slider__dot_active):hover, &:not(.slider__dot_active):focus {
      background-color: gray;
      
    }
  }  
  &__button {
    width: 45px;
    height: 45px;
    border: 2.5px solid #000;
    border-radius: 50px;
    background-color: transparent;
    font-size: 20px;
    outline: none;
    transition: all .5s;
    
    &:not(:disabled) {
        &:hover, &:focus {
        cursor: pointer;
        background-color: #000;
        color: #fff;
      }
    }
    
    &:disabled {
      opacity: .4;
      pointer-event: none;
      user-select: none;
    }
  }
}
.swiper-container {
  width: 600px;
  height: 300px;
}
.portfolio  {
  background: #f6f6f6;
}
.portfolio__title {
  padding-top: 60px;
  margin-bottom: 50px;
}
.Skills {
  margin-bottom: 65px;
  margin-top: 60px;
}
.Skills__list {
  display: flex;
}
.Skills__item {
  width: 180px;
  height: 168px;
  margin-right: 25px;
}
.Skills__item:last-child {
  margin-right: 0;
}
.Skills__item-title {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.swiper__slide_js:nth-child(1) {
  background-image: url("static/images/section_portfolio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120%;
  }
.swiper__slide_js:nth-child(2) {
  background-image: url("static/images/section_portfolio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120%;
  }
.swiper__slide_js:nth-child(3) {
  background-image: url("static/images/section_portfolio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120%;
  }
  .swiper__color {
    color: #000;
  }