<header>
  <div class="header container">
    <span class="title-block title-block_one">
      Home
    </span>
    <nav class="header__nav">
      <ul class="header__nav_list">
        <li class="header__nav_item">
          <a href="#"class="header__nav_link">My blog</a>
        </li>
        <li class="header__nav_item">
          <a href="#"class="header__nav_link">Sign in</a>
        </li>
        <li class="header__nav_item">
          <a href="#"class="header__nav_link">Register</a>
        </li>
      </ul>      
    </nav>
  </div>
</header>
