@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/subset-Gilroy-Bold.woff2') format('woff2'),
        url('/static/fonts/subset-Gilroy-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/subset-Gilroy-Regular.woff2') format('woff2'),
        url('/static/fonts/subset-Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

