footer {
  background-color: #fff;
  height: 80px;
  align-items: center;

  span {
    padding-right: 20px;
  }

  a {
    color: #000;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}
.hero__button_now {
  border: 2.5px solid #070707;
  box-sizing: border-box;
  border-radius: 30px;
  flex-direction: row;
  margin-left: 411px;
  margin-right: 411px;  
  &:hover {background-color: #fff; color: #000; border: solid;}

}